<IfModule mod_headers.c>
  <FilesMatch "\.(ttf|ttc|otf|eot|woff|font.css|css)$">
    Header set Access-Control-Allow-Origin "*"
  </FilesMatch>
</IfModule>

Options +FollowSymLinks

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond $1 !^(index\.php|resources|robots\.txt)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
#RewriteRule ^(.*)$ /folder1/folder2/index.php?/$1 [L]
</IfModule>

# Allow access from all domains for webfonts.
<IfModule mod_headers.c> 
	<FilesMatch "\.(ttf|ttc|otf|eot|woff|font.css|css)$"> 
		Header set Access-Control-Allow-Origin "*" 
	</FilesMatch>
</IfModule>

php_value memory_limit 256M
php_value post_max_size 10M
php_value upload_max_filesize 10M